espresso-server/*.iml
espresso-server/app/*.iml
espresso-server/.gradle
espresso-server/local.properties
espresso-server/.idea/workspace.xml
espresso-server/.idea/libraries
espresso-server/.DS_Store
espresso-server/build
espresso-server/captures
espresso-server/.externalNativeBuild
espresso-server/.idea/
espresso-server/app/build
node_modules
build
.DS_Store
.gradle/
