name: "Gradle Dependency Submission"
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout sources
      uses: actions/checkout@v6

    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'gradle'

    - name: Setup Gradle  # Starting with v4 the setup-gradle action will perform wrapper validation on each execution.
      uses: gradle/actions/setup-gradle@v5

    - name: Submit Dependencies (main branch only)
      if: github.ref == 'refs/heads/master'
      uses: gradle/actions/dependency-submission@v5
      with:
          build-root-directory: ./espresso-server
