name: Unit Tests

on:
  pull_request:
    branches: [ master ]
    paths-ignore:
    - 'docs/**'
    - '*.md'
  push:
    branches: [ master ]
    paths-ignore:
    - 'docs/**'
    - '*.md'


jobs:
  prepare_matrix:
    runs-on: ubuntu-latest
    outputs:
      versions: ${{ steps.generate-matrix.outputs.lts }}
    steps:
    - name: Select all current LTS versions of Node.js
      id: generate-matrix
      uses: msimerson/node-lts-versions@v1

  node_test:
    needs:
    - prepare_matrix
    strategy:
      matrix:
        node-version: ${{ fromJSON(needs.prepare_matrix.outputs.versions) }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '11'
    - run: npm install --no-package-lock
      name: Install dev dependencies
    - run: npm run lint
      name: Run js linter
    - run: npm run test:node
      name: Run js unit tests

  kotlin_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: lts/*
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '11'
    - run: npm install --no-package-lock
      name: Install dev dependencies
    - run: npm run lint:server
      name: Run server linter
    - run: npm run test:server
      name: Run server unit tests
