name: Unit Tests

on:
  pull_request:
    branches: [ master ]
    paths-ignore:
    - 'docs/**'
    - '*.md'
  push:
    branches: [ master ]
    paths-ignore:
    - 'docs/**'
    - '*.md'


jobs:
  node_matrix:
    uses: appium/appium-workflows/.github/workflows/node-lts-matrix.yml@main

  node_test:
    needs:
    - node_matrix
    strategy:
      fail-fast: false
      matrix:
        node-version: ${{ fromJSON(needs.node_matrix.outputs.versions) }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '11'
    - uses: SocketDev/action@v1
      with:
        mode: firewall-free
    - run: sfw npm install --no-package-lock
      name: Install dev dependencies
    - run: npm run lint
      name: Run js linter
    - run: npm run test:node
      name: Run js unit tests

  kotlin_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: lts/*
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '11'
    - uses: SocketDev/action@v1
      with:
        mode: firewall-free
    - run: sfw npm install --no-package-lock
      name: Install dev dependencies
    - run: npm run lint:server
      name: Run server linter
    - run: npm run test:server
      name: Run server unit tests
